<section class="banner">
  <div class="container banner__container">
    <a href="https://t.me/WestRu_official_bot" class="neon-link banner__link">
      <span class="sign-word">
        Перейти в telegram-бот
      </span>
    </a>
    <div class="banner__title-cont relative">
      <svg class="banner__neon-bg" width="483" height="183" viewBox="0 0 483 183" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0_b_2141_103)">
          <path
            d="M477.772 16.1848C479.699 10.725 475.649 5 469.859 5L12.887 4.99994C7.38443 4.99994 3.37094 10.2068 4.77188 15.528L46.0122 172.171C46.9827 175.858 50.3156 178.427 54.1273 178.427L414.566 178.427C418.124 178.427 421.295 176.183 422.479 172.828L477.772 16.1848Z"
            fill="url(#paint0_linear_2141_103)" fill-opacity="0.7" />
          <path
            d="M12.887 2.90204L469.859 2.9021C477.096 2.9021 482.159 10.0584 479.75 16.8831L424.457 173.526C422.977 177.72 419.013 180.524 414.566 180.524L54.1273 180.524C49.3626 180.524 45.1965 177.313 43.9834 172.706L2.7431 16.0622C0.991943 9.41065 6.00882 2.90204 12.887 2.90204Z"
            stroke="url(#paint1_linear_2141_103)" stroke-width="4.1958" />
        </g>
        <defs>
          <filter id="filter0_b_2141_103" x="-11.3155" y="-10.8047" width="505.381" height="205.035"
            filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feGaussianBlur in="BackgroundImageFix" stdDeviation="5.80419" />
            <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_2141_103" />
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_2141_103" result="shape" />
          </filter>
          <linearGradient id="paint0_linear_2141_103" x1="475.238" y1="67.587" x2="1.99995" y2="67.587"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="#0F6AC3" />
            <stop offset="1" stop-color="#5D0D68" stop-opacity="0.74" />
          </linearGradient>
          <linearGradient id="paint1_linear_2141_103" x1="-73.8632" y1="-43.7484" x2="427.535" y2="255.744"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="white" stop-opacity="0.08" />
            <stop offset="0.53" stop-color="white" stop-opacity="0.65" />
            <stop offset="1" stop-color="white" stop-opacity="0.09" />
          </linearGradient>
        </defs>
      </svg>
      <span class="banner__title">
        <img class="banner__title-img mb-2" src="./assets/image/content/ultra.webp"
          alt="Ультра драйв торговой марки West">
        <img class="banner__title-img banner__title-img--second" src="./assets/image/content/drive.webp" alt="Ультра драйв торговой марки West">
      </span>
      <div class="banner__sub-title">
        <div class="relative w-full h-full flex justify-center items-center">
          <h2>
            Начни свою Ultra-гонку
          </h2>
          <svg class="banner__neon-bg" width="325" height="49" viewBox="0 0 325 49" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <g>
              <path
                d="M317.35 19.6083C323.036 14.4526 319.389 5 311.713 5L12.7691 4.99996C5.67935 4.99996 1.78441 13.2474 6.28842 18.7226L24.6965 41.1003C26.2905 43.038 28.668 44.1608 31.1772 44.1608L287.032 44.1609C289.116 44.1609 291.125 43.3856 292.669 41.986L317.35 19.6083Z"
                fill="url(#paint0_linear_2141_329)" fill-opacity="1" />
              <path
                d="M12.7691 2.90206L311.713 2.9021C321.308 2.9021 325.867 14.7179 318.759 21.1625L294.078 43.5402C292.148 45.2897 289.637 46.2588 287.032 46.2588L31.1772 46.2587C28.0408 46.2587 25.0689 44.8552 23.0764 42.433L4.66824 20.0554C-0.961762 13.2113 3.90692 2.90206 12.7691 2.90206Z"
                stroke="url(#paint1_linear_2141_329)" stroke-width="4.1958" />
            </g>
            <defs>
              <linearGradient id="paint0_linear_2141_329" x1="328.888" y1="19.1326" x2="-5.0001" y2="19.1325"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#0F6AC3" stop-opacity="0.93" />
                <stop offset="1" stop-color="#5D0D68" stop-opacity="0.9" />
              </linearGradient>
              <linearGradient id="paint1_linear_2141_329" x1="-58.5246" y1="-6.00775" x2="48.5357" y2="193.802"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="white" stop-opacity="0.08" />
                <stop offset="0.53" stop-color="white" stop-opacity="0.65" />
                <stop offset="1" stop-color="white" stop-opacity="0.09" />
              </linearGradient>
            </defs>
          </svg>
        </div>
      </div>
    </div>
    <div class="in-site">
      <span class="in-site__logo">
        <img src="./assets/image/svg/logo-in-site.svg" alt="Логотип торговой марки West">
      </span>
      <a href="./landing.html" class="primary-btn ml-3">
        Перейти на сайт
      </a>
    </div>
  </div>
  <picture class="banner__background">
    <source media="(max-width: 1025px) and (min-height: 1077px)" srcset="./assets/image/content/enter-img-h1300.webp">
    <source media="(max-width: 576px)" srcset="./assets/image/content/enter-img-576.webp">
    <source media="(max-width: 768px)" srcset="./assets/image/content/enter-img-768.webp">
    <source media="(max-width: 1024px)" srcset="./assets/image/content/enter-img-1024.webp">

    <source media="(max-width: 1280px)" srcset="./assets/image/content/enter-img-1280.webp">
    <source media="(max-width: 1440px)" srcset="./assets/image/content/enter-img-1440.webp">
    <source media="(max-width: 1600px)" srcset="./assets/image/content/enter-img-1600.webp">
    <img class="banner__img" src="./assets/image/content/enter-img.webp" alt="Изображение торговой марки Вест">
  </picture>
</section>
