<section class="main-banner relative">
  <div class="main-banner__wrapper">
    <img class="main-banner__background" src="./assets/image/content/product-fone-two.webp" alt="Фоновое изображение баннера торговой марки West">
    <img class="main-banner__img" data-aos="fade-right" src="./assets/image/product/west-red.webp" alt="Изображение продукции торговой марки West">
    <picture>
      <source media="(max-width: 575px)" srcset="./assets/image/product/west-purple-575.webp">
      <img class="main-banner__img main-banner__img--second" data-aos="fade-up" src="./assets/image/product/west-purple.webp" alt="Изображение продукции торговой марки West">
    </picture>
    <img class="main-banner__cristal" src="./assets/image/product/fone/cristal-blue.webp" alt="Фоновое изображение торговой марки Вест">
    <img class="main-banner__cristal main-banner__cristal--one" src="./assets/image/product/fone/red-medium-sapphire.webp" alt="Фоновое изображение торговой марки Вест">
    <img class="main-banner__cristal main-banner__cristal--two" src="./assets/image/product/fone/banner-red.webp" alt="Фоновое изображение торговой марки Вест">
    <img class="main-banner__cristal main-banner__cristal--three" src="./assets/image/product/fone/cristal-blue-medium.webp" alt="Фоновое изображение торговой марки Вест">
    <img class="main-banner__cristal main-banner__cristal--four" src="./assets/image/product/fone/cristal-blue-medium.webp" alt="Фоновое изображение торговой марки Вест">
  </div>
  <div class="container main-banner__container relative">
    <div class="main-banner__content flex flex-col" data-aos="fade-left">
      <h1 class="primary-title mb-6">
        WEST UNIVERSE
      </h1>
      <p class="main-banner__descr mb-8">
        Космическая новинка в линейке легендарной марки
      </p>
      <a class="primary-btn" href="#unuverse">
        Узнать больше
      </a>
    </div>
  </div>
</section>
<section class="history flex relative">
  <img class="history__decoration-tire" src="./assets/image/decoration/tire-1.webp" alt="Изображение декорации трассы торговой марки West" data-aos="fade-up">
  <img class="history__decoration-tire history__decoration-tire--two" src="./assets/image/decoration/tire-2.webp" alt="Изображение декорации трассы торговой марки West" data-aos="fade-up">
  <img class="history__decoration-tire history__decoration-tire--three" src="./assets/image/decoration/tire-3.webp" alt="Изображение декорации трассы торговой марки West" data-aos="fade-up">
  <img class="history__decoration-tire history__decoration-tire--four" src="./assets/image/decoration/tire-4.webp" alt="Изображение декорации трассы торговой марки West" data-aos="fade-up">
  <img class="history__decoration-tire history__decoration-tire--five" src="./assets/image/decoration/tire-5.webp" alt="Изображение декорации трассы торговой марки West" data-aos="fade-up">

  <img class="history__decoration-image" src="./assets/image/decoration/car-mark.webp" alt="Изображение гоночного болида торговой марки West" data-aos="fade-up">
  
  <img class="history__decoration-snake" src="./assets/image/decoration/snake-1.webp" alt="Изображение декорации трассы торговой марки West">
  <img class="history__decoration-snake history__decoration-snake--two" src="./assets/image/decoration/snake-2.webp" alt="Изображение декорации трассы торговой марки West"  data-aos="fade-right">
  <img class="history__decoration-snake history__decoration-snake--three" src="./assets/image/decoration/snake-1.webp" alt="Изображение декорации трассы торговой марки West">

  <img class="history__decoration-tree" src="./assets/image/decoration/tree.webp" alt="Изображение декорации трассы торговой марки West" data-aos="fade-right">
  <img class="history__decoration-tree history__decoration-tree--right" src="./assets/image/decoration/tree-1.webp" alt="Изображение декорации трассы торговой марки West" data-aos="fade-left" data-aos-anchor-placement="center-bottom">

  <img class="history__decoration-human" src="./assets/image/decoration/human.webp" alt="Изображение болельщиков на трибуне торговой марки West">
  <div class="container history__container">
    <div class="history__title" data-aos="fade-down" data-aos-anchor-placement="bottom-bottom">
      <div class="history__title-cont flex flex-col relative items-center">
        <img class="mb-3" src="./assets/image/svg/history-title.svg" alt="Логотип торговой марки West">
        <span >
            История
        </span>
        <img class="history__title-background" src="./assets/image/svg/ellips.svg" alt="Изображение торговой марки West">
      </div>
    </div>
    <div class="history__content cont-1 flex w-full">
      <div class="flex flex-col w-full min-[993px]:w-3/5 min-[1439px]:w-1/2">
        <h2 class="second-title mb-6 min-[993px]:mb-8">
          один из немногих табачных брендов,
        </h2>
        <span class="history__subtitle">
          что могут похвастаться долгой и славной историей
        </span>
        <div class="history__card w-3/5 min-[400px]:w-7/12 min-[992px]:w-4/5 pl-20 mt-16">
          <img class="history__card-img mb-2" src="./assets/image/history/west-american.webp" alt="Изображение одной из первых упаковок торговой марки West 1981 год" data-aos="fade-up">
          <p class="mb-8">
            West появился в Германии в 1981 году и завоевал расположение миллионов курильщиков по всему миру.
          </p>
          <p class="">
            В том числе и в России, где много лет радует своих потребителей качеством и вкусом.
          </p>
        </div>
      </div>
      <div class="empty-stub w-1/5 min-[1279px]:w-1/5"></div>
    </div>
    <div class="history__content cont-2 max-[576px]:justify-end">
      <div class="max-[576px]:hidden w-1/2"></div>
      <div class="history__card w-8/12 min-[400px]:w-7/12 min-[576px]:w-1/2">
        <img class="history__card-img mb-9" src="./assets/image/history/west-full.webp" alt="Изображение одной из первых упаковок торговой марки West 1981 год"  data-aos="fade-left">
          <h3 class="mb-6 w-9/12">
            Яркие страницы истории West —  
          </h3>
          <p class="w-5/6 min-[1279px]:w-4/6">
            спонсорство гоночных команд в Формуле-1 и MotoGP, а также спонсорство в хоккее
          </p>
      </div>
    </div>
    <div class="history__content w-5/6 cont-3 min-[993px]:self-end">
      <div class="history__card w-1/2">
        <span class="nameplate mb-3">
          Компактные
        </span>
          <img class="history__card-img mb-9" src="./assets/image/history/west-blue-compact.webp" alt="Изображение одной из первых упаковок торговой марки West 1981 год" data-aos="fade-right">
          <p class="w-5/6">
            Сегодня № 1 в линейке West — бестселлер <b>West Blue Up</b>
          </p>
      </div>
      <div class="w-1/2">
      </div>
    </div>
    <div class="history__content cont-4 max-[993px]:justify-end">
      <div class="empty-stub min-[993px]:w-1/2"></div>
      <div class="history__card w-9/12 min-[400px]:w-7/12 min-[576px]:w-3/5 min-[993px]:w-1/2">
        <div class="history__img-group">
          <img class="history__card-img" src="./assets/image/history/west-blue.webp" alt="Изображение товара West turbo blue" data-aos="fade-up">
          <div class="flex flex-col">
            <span class="nameplate mb-3">
              Стандартные, толстые
            </span>
            <img class="history__card-img max-[992px]:mt-8" src="./assets/image/history/west-red.webp" alt="Изображение товара West turbo red" data-aos="fade-up">
          </div>
        </div>
        <p class="w-5/6 min-[993px]:w-3/6">
          Также в линейку входят сигареты формата KS — <b>West Turbo</b>
        </p>
      </div>
    </div>
    <div class="history__content cont-5">
      <div class="history__card w-full min-[576px]:w-4/5 min-[993px]:w-1/2">
        <div class="history__img-group">
          <div class="flex flex-col">
            <span class="nameplate mb-3">
              Компактные
            </span>
            <img class="history__card-img" src="./assets/image/history/west-purple-slim.webp" alt="Изображение товара west purple slim" data-aos="fade-up">
          </div>
          <div class="flex flex-col min-[993px]:mt-10">
            <span class="nameplate mb-3">
              супер-тонкие
            </span>
            <img class="history__card-img" src="./assets/image/history/west-blue-slim.webp" alt="Изображение товара west red slim" data-aos="fade-up" data-aos-delay="100">
          </div>
          <div class="flex flex-col">
            <span class="nameplate mb-3">
              супер-тонкие
              <b>
                с капсулой
              </b>
            </span>
            <img class="history__card-img" src="./assets/image/history/west-red-slim.webp" alt="Изображение товара west purple slim capsule" data-aos="fade-up" data-aos-delay="200">
          </div>
        </div>
        <p class="w-full min-[1601px]:w-9/12">
          И недавно запущенные масштабные яркие новинки в различных форматах
        </p>
      </div>
      <div class="max-md:hidden w-1/2"></div>
    </div>
  </div>
  <img class="history__background-track" src="./assets/image/content/track-mobile.webp" alt="Изображение гоночного трека торговой марки West">
  <img class="history__background" src="./assets/image/content/track.webp" alt="Изображение гоночного трека торговой марки West">
  <img class="decoration-img" src="./assets/image/decoration/finish.webp" alt="Изображение финишной черты торгойо марки West" data-aos="fade-up">
</section>
<section class="product product--first relative" id="unuverse">
  <div class="product__header relative">
    <img class="product__img" src="./assets/image/decoration/universe-header.webp" alt="Фоновое изображение серии продукта Universe торговой марки West">
    <div class="product__header-wrapper relative">
      <svg class="product__title-svg" width="519" height="74" viewBox="0 0 519 74" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g style="mix-blend-mode:overlay" opacity="0.5" filter="url(#filter0_i_2225_366)">
        <path d="M466.877 24.1363L496.514 23.1013L501.639 32.934L472.001 33.969L466.877 24.1363ZM479.645 46.5742L513.153 45.4041L518.44 55.549L470.773 57.2135L442.303 2.5874L488.827 0.96276L494.114 11.1076L461.75 12.2378L479.645 46.5742Z" fill="white"/>
        </g>
        <g style="mix-blend-mode:overlay" opacity="0.5" filter="url(#filter1_i_2225_366)">
        <path d="M431.408 59.5417C426.483 59.7137 421.465 59.3062 416.354 58.3193C411.216 57.2804 406.781 55.8726 403.049 54.096L402.924 44.4065C406.43 45.9792 410.256 47.2493 414.402 48.2169C418.58 49.1305 422.515 49.5228 426.209 49.3938C429.023 49.2955 431.159 48.9826 432.615 48.455C434.103 47.8733 435.027 47.1259 435.386 46.2128C435.746 45.2997 435.628 44.2709 435.031 43.1264C434.272 41.6697 433.031 40.5477 431.307 39.7603C429.556 38.9209 427.49 38.278 425.108 37.8314C422.699 37.3329 420.083 36.8945 417.259 36.5164C414.467 36.0842 411.591 35.5489 408.631 34.9107C405.731 34.2704 402.927 33.4148 400.22 32.3439C397.512 31.2731 394.996 29.8248 392.672 27.999C390.406 26.1711 388.514 23.8005 386.995 20.8871C385.368 17.7656 384.829 14.8975 385.376 12.2828C385.955 9.61395 387.757 7.45864 390.782 5.81684C393.838 4.12096 398.268 3.17168 404.073 2.96898C407.943 2.83385 411.97 3.11697 416.157 3.81833C420.316 4.46766 424.252 5.54855 427.966 7.061L428.571 16.8131C424.939 15.4568 421.51 14.4906 418.285 13.9146C415.032 13.2866 412.028 13.0207 409.272 13.1169C406.517 13.2131 404.408 13.5781 402.948 14.2118C401.487 14.8455 400.62 15.6439 400.346 16.6069C400.044 17.518 400.206 18.5718 400.829 19.7684C401.561 21.173 402.803 22.295 404.553 23.1344C406.277 23.9218 408.33 24.5387 410.712 24.9853C413.094 25.4318 415.681 25.8712 418.473 26.3034C421.324 26.7336 424.186 27.2428 427.06 27.8311C429.992 28.4173 432.812 29.2458 435.519 30.3167C438.226 31.3875 440.713 32.8369 442.979 34.6647C445.304 36.4905 447.211 38.8341 448.703 41.6955C450.303 44.7649 450.799 47.6081 450.193 50.2249C449.587 52.8416 447.756 54.998 444.699 56.6938C441.702 58.3877 437.272 59.337 431.408 59.5417Z" fill="white"/>
        </g>
        <g style="mix-blend-mode:overlay" opacity="0.5" filter="url(#filter2_i_2225_366)">
        <path d="M342.024 61.7096L313.553 7.0835L340.201 6.15294C345.713 5.96048 350.882 6.60102 355.709 8.07457C360.51 9.49609 364.767 11.6517 368.482 14.5413C372.197 17.431 375.125 20.9308 377.268 25.0408C379.382 29.0987 380.128 32.6483 379.504 35.6895C378.853 38.6786 376.941 41.0232 373.768 42.7231C370.594 44.4231 366.252 45.3693 360.74 45.5618L342.008 46.2159L345.452 40.4542L356.271 61.2121L342.024 61.7096ZM381.16 60.343L355.439 41.0589L370.653 40.5276L396.55 59.8055L381.16 60.343ZM346.184 41.8588L336.761 36.1491L354.702 35.5226C359.1 35.3691 361.949 34.422 363.251 32.6814C364.525 30.8889 364.39 28.5099 362.844 25.5445C361.272 22.527 358.967 20.2238 355.93 18.6347C352.893 17.0457 349.176 16.3279 344.778 16.4815L326.837 17.108L330.038 10.878L346.184 41.8588Z" fill="white"/>
        </g>
        <g style="mix-blend-mode:overlay" opacity="0.5" filter="url(#filter3_i_2225_366)">
        <path d="M275.126 30.8324L304.764 29.7974L309.889 39.6301L280.251 40.6651L275.126 30.8324ZM287.895 53.2703L321.403 52.1002L326.69 62.245L279.023 63.9096L250.553 9.28345L297.076 7.6588L302.364 17.8037L269.999 18.9338L287.895 53.2703Z" fill="white"/>
        </g>
        <g style="mix-blend-mode:overlay" opacity="0.5" filter="url(#filter4_i_2225_366)">
        <path d="M229.166 65.6505L174.136 11.9519L189.527 11.4145L237.961 58.9868L228.902 59.3031L227.256 10.0969L241.415 9.60247L243.237 65.1592L229.166 65.6505Z" fill="white"/>
        </g>
        <g style="mix-blend-mode:overlay" opacity="0.5" filter="url(#filter5_i_2225_366)">
        <path d="M178.1 67.434L149.63 12.8079L163.877 12.3103L192.347 66.9365L178.1 67.434Z" fill="white"/>
        </g>
        <g style="mix-blend-mode:overlay" opacity="0.5" filter="url(#filter6_i_2225_366)">
        <path d="M103.075 70.0539L74.6053 15.4277L86.3902 15.0162L143.211 53.0786L137.494 53.2782L116.996 13.9474L131.067 13.4561L159.537 68.0822L147.84 68.4906L90.9319 30.4313L96.6484 30.2317L117.147 69.5625L103.075 70.0539Z" fill="white"/>
        </g>
        <g style="mix-blend-mode:overlay" opacity="0.5" filter="url(#filter7_i_2225_366)">
        <path d="M57.6079 72.5951C48.8719 72.9002 40.9162 70.9797 33.7407 66.8336C26.5652 62.6875 20.8896 56.6086 16.714 48.5967L0.770752 18.0061L15.0181 17.5086L30.7173 47.631C33.4287 52.8335 36.5829 56.5373 40.1798 58.7424C43.7767 60.9476 47.7445 61.9744 52.0832 61.8229C56.4219 61.6714 59.1967 60.4091 60.4075 58.0361C61.6183 55.663 60.868 51.8753 58.1566 46.6728L42.4573 16.5504L56.5288 16.059L72.472 46.6496C76.6476 54.6615 77.3982 60.9124 74.7237 65.4024C72.0492 69.8925 66.3439 72.2901 57.6079 72.5951Z" fill="white"/>
        </g>
        <g style="mix-blend-mode:overlay" opacity="0.5" filter="url(#filter8_i_2225_366)">
        <path d="M466.877 24.1363L496.514 23.1013L501.639 32.934L472.001 33.969L466.877 24.1363ZM479.645 46.5742L513.153 45.4041L518.44 55.549L470.773 57.2135L442.303 2.5874L488.827 0.96276L494.114 11.1076L461.75 12.2378L479.645 46.5742Z" fill="white"/>
        </g>
        <g style="mix-blend-mode:overlay" opacity="0.5" filter="url(#filter9_i_2225_366)">
        <path d="M431.408 59.5417C426.483 59.7137 421.465 59.3062 416.354 58.3193C411.216 57.2804 406.781 55.8726 403.049 54.096L402.924 44.4065C406.43 45.9792 410.256 47.2493 414.402 48.2169C418.58 49.1305 422.515 49.5228 426.209 49.3938C429.023 49.2955 431.159 48.9826 432.615 48.455C434.103 47.8733 435.027 47.1259 435.386 46.2128C435.746 45.2997 435.628 44.2709 435.031 43.1264C434.272 41.6697 433.031 40.5477 431.307 39.7603C429.556 38.9209 427.49 38.278 425.108 37.8314C422.699 37.3329 420.083 36.8945 417.259 36.5164C414.467 36.0842 411.591 35.5489 408.631 34.9107C405.731 34.2704 402.927 33.4148 400.22 32.3439C397.512 31.2731 394.996 29.8248 392.672 27.999C390.406 26.1711 388.514 23.8005 386.995 20.8871C385.368 17.7656 384.829 14.8975 385.376 12.2828C385.955 9.61395 387.757 7.45864 390.782 5.81684C393.838 4.12096 398.268 3.17168 404.073 2.96898C407.943 2.83385 411.97 3.11697 416.157 3.81833C420.316 4.46766 424.252 5.54855 427.966 7.061L428.571 16.8131C424.939 15.4568 421.51 14.4906 418.285 13.9146C415.032 13.2866 412.028 13.0207 409.272 13.1169C406.517 13.2131 404.408 13.5781 402.948 14.2118C401.487 14.8455 400.62 15.6439 400.346 16.6069C400.044 17.518 400.206 18.5718 400.829 19.7684C401.561 21.173 402.803 22.295 404.553 23.1344C406.277 23.9218 408.33 24.5387 410.712 24.9853C413.094 25.4318 415.681 25.8712 418.473 26.3034C421.324 26.7336 424.186 27.2428 427.06 27.8311C429.992 28.4173 432.812 29.2458 435.519 30.3167C438.226 31.3875 440.713 32.8369 442.979 34.6647C445.304 36.4905 447.211 38.8341 448.703 41.6955C450.303 44.7649 450.799 47.6081 450.193 50.2249C449.587 52.8416 447.756 54.998 444.699 56.6938C441.702 58.3877 437.272 59.337 431.408 59.5417Z" fill="white"/>
        </g>
        <g style="mix-blend-mode:overlay" opacity="0.5" filter="url(#filter10_i_2225_366)">
        <path d="M342.024 61.7096L313.553 7.0835L340.201 6.15294C345.713 5.96048 350.882 6.60102 355.709 8.07457C360.51 9.49609 364.767 11.6517 368.482 14.5413C372.197 17.431 375.125 20.9308 377.268 25.0408C379.382 29.0987 380.128 32.6483 379.504 35.6895C378.853 38.6786 376.941 41.0232 373.768 42.7231C370.594 44.4231 366.252 45.3693 360.74 45.5618L342.008 46.2159L345.452 40.4542L356.271 61.2121L342.024 61.7096ZM381.16 60.343L355.439 41.0589L370.653 40.5276L396.55 59.8055L381.16 60.343ZM346.184 41.8588L336.761 36.1491L354.702 35.5226C359.1 35.3691 361.949 34.422 363.251 32.6814C364.525 30.8889 364.39 28.5099 362.844 25.5445C361.272 22.527 358.967 20.2238 355.93 18.6347C352.893 17.0457 349.176 16.3279 344.778 16.4815L326.837 17.108L330.038 10.878L346.184 41.8588Z" fill="white"/>
        </g>
        <g style="mix-blend-mode:overlay" opacity="0.5" filter="url(#filter11_i_2225_366)">
        <path d="M275.126 30.8324L304.764 29.7974L309.889 39.6301L280.251 40.6651L275.126 30.8324ZM287.895 53.2703L321.403 52.1002L326.69 62.245L279.023 63.9096L250.553 9.28345L297.076 7.6588L302.364 17.8037L269.999 18.9338L287.895 53.2703Z" fill="white"/>
        </g>
        <g style="mix-blend-mode:overlay" opacity="0.5" filter="url(#filter12_i_2225_366)">
        <path d="M229.166 65.6505L174.136 11.9519L189.527 11.4145L237.961 58.9868L228.902 59.3031L227.256 10.0969L241.415 9.60247L243.237 65.1592L229.166 65.6505Z" fill="white"/>
        </g>
        <g style="mix-blend-mode:overlay" opacity="0.5" filter="url(#filter13_i_2225_366)">
        <path d="M178.1 67.434L149.63 12.8079L163.877 12.3103L192.347 66.9365L178.1 67.434Z" fill="white"/>
        </g>
        <g style="mix-blend-mode:overlay" opacity="0.5" filter="url(#filter14_i_2225_366)">
        <path d="M103.075 70.0539L74.6053 15.4277L86.3902 15.0162L143.211 53.0786L137.494 53.2782L116.996 13.9474L131.067 13.4561L159.537 68.0822L147.84 68.4906L90.9319 30.4313L96.6484 30.2317L117.147 69.5625L103.075 70.0539Z" fill="white"/>
        </g>
        <g style="mix-blend-mode:overlay" opacity="0.5" filter="url(#filter15_i_2225_366)">
        <path d="M57.6079 72.5951C48.8719 72.9002 40.9162 70.9797 33.7407 66.8336C26.5652 62.6875 20.8896 56.6086 16.714 48.5967L0.770752 18.0061L15.0181 17.5086L30.7173 47.631C33.4287 52.8335 36.5829 56.5373 40.1798 58.7424C43.7767 60.9476 47.7445 61.9744 52.0832 61.8229C56.4219 61.6714 59.1967 60.4091 60.4075 58.0361C61.6183 55.663 60.868 51.8753 58.1566 46.6728L42.4573 16.5504L56.5288 16.059L72.472 46.6496C76.6476 54.6615 77.3982 60.9124 74.7237 65.4024C72.0492 69.8925 66.3439 72.2901 57.6079 72.5951Z" fill="white"/>
        </g>
        <defs>
        <filter id="filter0_i_2225_366" x="441.061" y="0.962646" width="77.3793" height="58.7354" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="-1.2422" dy="2.4844"/>
        <feGaussianBlur stdDeviation="1.49064"/>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_2225_366"/>
        </filter>
        <filter id="filter1_i_2225_366" x="383.927" y="2.93628" width="66.5159" height="59.1282" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="-1.2422" dy="2.4844"/>
        <feGaussianBlur stdDeviation="1.49064"/>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_2225_366"/>
        </filter>
        <filter id="filter2_i_2225_366" x="312.311" y="6.11963" width="84.2391" height="58.0745" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="-1.2422" dy="2.4844"/>
        <feGaussianBlur stdDeviation="1.49064"/>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_2225_366"/>
        </filter>
        <filter id="filter3_i_2225_366" x="249.311" y="7.65869" width="77.3793" height="58.7354" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="-1.2422" dy="2.4844"/>
        <feGaussianBlur stdDeviation="1.49064"/>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_2225_366"/>
        </filter>
        <filter id="filter4_i_2225_366" x="172.894" y="9.60254" width="70.3435" height="58.5325" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="-1.2422" dy="2.4844"/>
        <feGaussianBlur stdDeviation="1.49064"/>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_2225_366"/>
        </filter>
        <filter id="filter5_i_2225_366" x="148.388" y="12.3103" width="43.9596" height="57.6082" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="-1.2422" dy="2.4844"/>
        <feGaussianBlur stdDeviation="1.49064"/>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_2225_366"/>
        </filter>
        <filter id="filter6_i_2225_366" x="73.3631" y="13.4561" width="86.174" height="59.0823" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="-1.2422" dy="2.4844"/>
        <feGaussianBlur stdDeviation="1.49064"/>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_2225_366"/>
        </filter>
        <filter id="filter7_i_2225_366" x="-0.471449" y="16.0591" width="76.7615" height="59.0518" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="-1.2422" dy="2.4844"/>
        <feGaussianBlur stdDeviation="1.49064"/>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_2225_366"/>
        </filter>
        <filter id="filter8_i_2225_366" x="441.061" y="0.962646" width="77.3793" height="58.7354" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="-1.2422" dy="2.4844"/>
        <feGaussianBlur stdDeviation="1.49064"/>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_2225_366"/>
        </filter>
        <filter id="filter9_i_2225_366" x="383.927" y="2.93628" width="66.5159" height="59.1282" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="-1.2422" dy="2.4844"/>
        <feGaussianBlur stdDeviation="1.49064"/>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_2225_366"/>
        </filter>
        <filter id="filter10_i_2225_366" x="312.311" y="6.11963" width="84.2391" height="58.0745" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="-1.2422" dy="2.4844"/>
        <feGaussianBlur stdDeviation="1.49064"/>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_2225_366"/>
        </filter>
        <filter id="filter11_i_2225_366" x="249.311" y="7.65869" width="77.3793" height="58.7354" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="-1.2422" dy="2.4844"/>
        <feGaussianBlur stdDeviation="1.49064"/>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_2225_366"/>
        </filter>
        <filter id="filter12_i_2225_366" x="172.894" y="9.60254" width="70.3435" height="58.5325" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="-1.2422" dy="2.4844"/>
        <feGaussianBlur stdDeviation="1.49064"/>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_2225_366"/>
        </filter>
        <filter id="filter13_i_2225_366" x="148.388" y="12.3103" width="43.9596" height="57.6082" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="-1.2422" dy="2.4844"/>
        <feGaussianBlur stdDeviation="1.49064"/>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_2225_366"/>
        </filter>
        <filter id="filter14_i_2225_366" x="73.3631" y="13.4561" width="86.174" height="59.0823" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="-1.2422" dy="2.4844"/>
        <feGaussianBlur stdDeviation="1.49064"/>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_2225_366"/>
        </filter>
        <filter id="filter15_i_2225_366" x="-0.471449" y="16.0591" width="76.7615" height="59.0518" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="-1.2422" dy="2.4844"/>
        <feGaussianBlur stdDeviation="1.49064"/>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_2225_366"/>
        </filter>
        </defs>
      </svg>
      <img class="product__title-fone" src="./assets/image/product/universal.webp" alt="Фоновое изображение серии продукта Universe торговой марки West"> 
    </div>
  </div>
  <span class="product__shadow"></span>
  <div class="container product__container">
    <div class="product__card-area">
      <div class="product__card-cont w-1/2 flex justify-center">
        <div class="card card--right relative" data-aos="fade-right">
          <img class="card__flame" src="./assets/image/product/flame-red.webp" alt="Изображение свечения товара линейки Universe торговой марки West">
          <img class="card__img" src="./assets/image/product/universe-red-new.webp" alt="Изображение продукта universe red">
          <div class="card__wrapper relative">
            <div class="card__content">
              <h3>
                universe RED
              </h3>
              <ul>
                <li>
                  Формат: <b>SSL</b>
                </li>
                <li>
                  Смола: <b>7</b>
                </li>
                <li>
                  Никотин: <b>0,5</b>
                </li>
                <li>
                  Капсула: <b>арбузная</b>
                </li>
              </ul>
            </div>
            <img class="card__content-img" src="./assets/image/product/sapphire.webp" alt="Фоновое изображение продукта universe red">
          </div>
        </div>
      </div>

      <div class="product__card-cont w-1/2 flex justify-center">
        <div class="card card--right relative" data-aos="fade-left">
          <img class="card__flame" src="./assets/image/product/flame-blue.webp" alt="Изображение свечения товара линейки Universe торговой марки West">
          <img class="card__img" src="./assets/image/product/universe-blue-new.webp" alt="Изображение продукта universe red">
          <div class="card__wrapper relative">
            <div class="card__content">
              <h3>
                universe purple
              </h3>
              <ul>
                <li>
                  Формат: <b>SSL</b>
                </li>
                <li>
                  Смола: <b>6</b>
                </li>
                <li>
                  Никотин: <b>0,5</b>
                </li>
                <li>
                  Капсула: <b>ягодная</b>
                </li>
              </ul>
            </div>
            <img class="card__content-img" src="./assets/image/product/sapphire-blue.webp" alt="Фоновое изображение продукта universe red">
          </div>
        </div>
      </div>

    </div>
  </div>
  <img class="product__cristal" src="./assets/image/product/fone/cristal-blue.webp" alt="Фоновое изображении секции с продукцией торговой марки West">
  <img class="product__cristal product__cristal--two" src="./assets/image/product/fone/cristal-red-small.webp" alt="Фоновое изображении секции с продукцией торговой марки West">
  <img class="product__cristal product__cristal--three" src="./assets/image/product/fone/cristal-red-medium.webp" alt="Фоновое изображении секции с продукцией торговой марки West">
  <img class="product__cristal product__cristal--four" src="./assets/image/product/fone/cristal-blue-medium.webp" alt="Фоновое изображении секции с продукцией торговой марки West">
  <img class="product__cristal product__cristal--five" src="./assets/image/product/fone/cristal-red-top-right.webp" alt="Фоновое изображении секции с продукцией торговой марки West">
  <img class="product__cristal product__cristal--six" src="./assets/image/product/fone/cristal-red-right.webp" alt="Фоновое изображении секции с продукцией торговой марки West">
  <img class="product__background" src="./assets/image/content/product-fone-two.webp" alt="Фоновое изображении секции с продукцией торговой марки West">
</section>
<section class="product product--second relative">
  <div class="product__header relative">
    <img class="product__img" src="./assets/image/product/sapphire-fone.webp" alt="Фоновое изображение серии продукта Universe торговой марки West">
    <div class="product__header-wrapper relative">
      <svg class="product__title-svg" width="503" height="71" viewBox="0 0 503 71" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g style="mix-blend-mode:overlay" filter="url(#filter0_i_2240_597)">
        <path d="M453.715 23.0704L482.006 22.0825L486.898 31.4682L458.607 32.4562L453.715 23.0704ZM465.904 44.4884L497.888 43.3715L502.935 53.0552L457.435 54.6441L430.259 2.50098L474.668 0.950183L479.715 10.6339L448.822 11.7127L465.904 44.4884Z" fill="white"/>
        </g>
        <g style="mix-blend-mode:overlay" filter="url(#filter1_i_2240_597)">
        <path d="M391.706 56.9395L364.53 4.79639L389.966 3.90812C395.227 3.72441 400.161 4.33584 404.769 5.74241C409.351 7.09931 413.415 9.15693 416.961 11.9152C420.507 14.6736 423.303 18.0143 425.347 21.9374C427.366 25.8109 428.078 29.1991 427.482 32.1021C426.861 34.9554 425.036 37.1933 422.007 38.816C418.977 40.4387 414.832 41.3419 409.572 41.5257L391.69 42.1501L394.978 36.6502L405.305 56.4646L391.706 56.9395ZM429.063 55.635L404.511 37.2275L419.034 36.7203L443.754 55.1219L429.063 55.635ZM395.677 37.991L386.682 32.5409L403.808 31.9428C408.005 31.7962 410.725 30.8922 411.968 29.2308C413.184 27.5197 413.055 25.2488 411.58 22.4182C410.079 19.5379 407.879 17.3394 404.98 15.8226C402.081 14.3058 398.533 13.6206 394.335 13.7672L377.21 14.3653L380.264 8.41843L395.677 37.991Z" fill="white"/>
        </g>
        <g style="mix-blend-mode:overlay" filter="url(#filter2_i_2240_597)">
        <path d="M360.162 58.0411L332.986 5.89795L346.586 5.42304L373.762 57.5662L360.162 58.0411Z" fill="white"/>
        </g>
        <g style="mix-blend-mode:overlay" filter="url(#filter3_i_2240_597)">
        <path d="M301.486 6.99788L315.085 6.52297L342.261 58.6661L328.662 59.141L301.486 6.99788ZM301.966 60.0732L288.366 60.5481L261.19 8.40503L274.79 7.93012L301.966 60.0732ZM318.527 37.7271L289.816 38.7297L284.498 28.5246L313.208 27.522L318.527 37.7271Z" fill="white"/>
        </g>
        <g style="mix-blend-mode:overlay" filter="url(#filter4_i_2240_597)">
        <path d="M223.703 62.8062L196.526 10.6631L221.963 9.77482C227.224 9.59111 232.158 10.2025 236.766 11.6091C241.348 12.966 245.412 15.0236 248.958 17.7819C252.504 20.5403 255.3 23.881 257.344 27.8041C259.363 31.6776 260.075 35.0658 259.479 37.9688C258.884 40.8717 257.085 43.1594 254.081 44.8317C251.052 46.4544 246.907 47.3576 241.646 47.5413L223.765 48.1658L226.975 42.5169L237.302 62.3313L223.703 62.8062ZM227.674 43.8577L218.64 38.3331L235.766 37.735C239.963 37.5884 242.683 36.6844 243.926 35.023C245.168 33.3616 245.052 31.1155 243.577 28.2849C242.076 25.4046 239.876 23.2061 236.977 21.6893C234.078 20.1724 230.53 19.4873 226.332 19.6339L209.207 20.2319L212.261 14.2851L227.674 43.8577Z" fill="white"/>
        </g>
        <g style="mix-blend-mode:overlay" filter="url(#filter5_i_2240_597)">
        <path d="M159.039 65.0643L131.863 12.9211L157.299 12.0329C162.56 11.8492 167.494 12.4606 172.103 13.8672C176.685 15.2241 180.749 17.2817 184.295 20.04C187.841 22.7983 190.636 26.139 192.681 30.0622C194.7 33.9357 195.411 37.3239 194.816 40.2268C194.22 43.1298 192.421 45.4174 189.418 47.0898C186.388 48.7125 182.243 49.6157 176.982 49.7994L159.101 50.4238L162.312 44.775L172.639 64.5893L159.039 65.0643ZM163.01 46.1158L153.977 40.5911L171.102 39.9931C175.3 39.8465 178.02 38.9425 179.262 37.2811C180.505 35.6196 180.388 33.3736 178.913 30.543C177.412 27.6627 175.212 25.4641 172.313 23.9473C169.414 22.4305 165.866 21.7454 161.668 21.892L144.543 22.49L147.598 16.5432L163.01 46.1158Z" fill="white"/>
        </g>
        <g style="mix-blend-mode:overlay" filter="url(#filter6_i_2240_597)">
        <path d="M83.0447 67.7181L82.0607 14.6603L95.4925 14.1913L148.945 65.4168L134.673 65.9152L89.1898 20.6307L94.5625 20.4431L96.9802 67.2314L83.0447 67.7181ZM90.3173 56.0872L89.1518 46.7989L119.373 45.7435L127.842 54.7768L90.3173 56.0872Z" fill="white"/>
        </g>
        <g style="mix-blend-mode:overlay" filter="url(#filter7_i_2240_597)">
        <path d="M53.0107 69.6772C48.3096 69.8413 43.5196 69.4524 38.6409 68.5104C33.7362 67.5187 29.5028 66.1749 25.9407 64.479L25.8214 55.2299C29.1681 56.7311 32.8202 57.9435 36.7776 58.8672C40.7652 59.7392 44.5218 60.1136 48.0477 59.9905C50.7341 59.8967 52.7723 59.598 54.1624 59.0944C55.5825 58.5391 56.4644 57.8257 56.8079 56.9542C57.1514 56.0826 57.0385 55.1005 56.4691 54.008C55.7444 52.6175 54.5594 51.5465 52.914 50.7949C51.2427 49.9937 49.2703 49.38 46.9967 48.9537C44.6973 48.4778 42.1998 48.0594 39.5044 47.6984C36.839 47.2859 34.0939 46.775 31.2691 46.1657C28.5002 45.5545 25.8237 44.7378 23.2395 43.7157C20.6553 42.6935 18.2538 41.311 16.0348 39.5682C13.8718 37.8234 12.0656 35.5606 10.6162 32.7796C9.0633 29.8 8.54818 27.0622 9.07088 24.5664C9.62366 22.0189 11.3436 19.9615 14.2309 18.3943C17.1481 16.7756 21.3771 15.8694 26.9177 15.6759C30.6115 15.5469 34.4563 15.8172 38.4522 16.4867C42.4223 17.1065 46.1796 18.1383 49.7243 19.582L50.3021 28.8908C46.8351 27.5961 43.5622 26.6738 40.4834 26.124C37.3787 25.5245 34.5112 25.2707 31.8808 25.3626C29.2504 25.4544 27.238 25.8028 25.8437 26.4077C24.4495 27.0126 23.6215 27.7747 23.3598 28.694C23.0722 29.5636 23.2261 30.5695 23.8214 31.7117C24.5202 33.0525 25.7052 34.1235 27.3765 34.9248C29.0218 35.6763 30.9813 36.2652 33.2549 36.6915C35.5285 37.1177 37.998 37.5371 40.6633 37.9497C43.3846 38.3603 46.1168 38.8464 48.8598 39.4079C51.6588 39.9675 54.3503 40.7584 56.9345 41.7806C59.5187 42.8027 61.8923 44.1862 64.0553 45.931C66.2742 47.6738 68.0955 49.9108 69.519 52.6421C71.046 55.5721 71.5202 58.286 70.9415 60.7838C70.3629 63.2817 68.6149 65.34 65.6976 66.9588C62.8363 68.5756 58.6073 69.4817 53.0107 69.6772Z" fill="white"/>
        </g>
        <g style="mix-blend-mode:overlay" opacity="0.55" filter="url(#filter8_i_2240_597)">
        <path d="M453.715 23.0704L482.006 22.0825L486.898 31.4682L458.607 32.4562L453.715 23.0704ZM465.904 44.4884L497.888 43.3715L502.935 53.0552L457.435 54.6441L430.259 2.50098L474.668 0.950183L479.715 10.6339L448.822 11.7127L465.904 44.4884Z" fill="white"/>
        </g>
        <g style="mix-blend-mode:overlay" opacity="0.55" filter="url(#filter9_i_2240_597)">
        <path d="M391.706 56.9395L364.53 4.79639L389.966 3.90812C395.227 3.72441 400.161 4.33584 404.769 5.74241C409.351 7.09931 413.415 9.15693 416.961 11.9152C420.507 14.6736 423.303 18.0143 425.347 21.9374C427.366 25.8109 428.078 29.1991 427.482 32.1021C426.861 34.9554 425.036 37.1933 422.007 38.816C418.977 40.4387 414.832 41.3419 409.572 41.5257L391.69 42.1501L394.978 36.6502L405.305 56.4646L391.706 56.9395ZM429.063 55.635L404.511 37.2275L419.034 36.7203L443.754 55.1219L429.063 55.635ZM395.677 37.991L386.682 32.5409L403.808 31.9428C408.005 31.7962 410.725 30.8922 411.968 29.2308C413.184 27.5197 413.055 25.2488 411.58 22.4182C410.079 19.5379 407.879 17.3394 404.98 15.8226C402.081 14.3058 398.533 13.6206 394.335 13.7672L377.21 14.3653L380.264 8.41843L395.677 37.991Z" fill="white"/>
        </g>
        <g style="mix-blend-mode:overlay" opacity="0.55" filter="url(#filter10_i_2240_597)">
        <path d="M360.162 58.0411L332.986 5.89795L346.586 5.42304L373.762 57.5662L360.162 58.0411Z" fill="white"/>
        </g>
        <g style="mix-blend-mode:overlay" opacity="0.55" filter="url(#filter11_i_2240_597)">
        <path d="M301.486 6.99788L315.085 6.52297L342.261 58.6661L328.662 59.141L301.486 6.99788ZM301.966 60.0732L288.366 60.5481L261.19 8.40503L274.79 7.93012L301.966 60.0732ZM318.527 37.7271L289.816 38.7297L284.498 28.5246L313.208 27.522L318.527 37.7271Z" fill="white"/>
        </g>
        <g style="mix-blend-mode:overlay" opacity="0.55" filter="url(#filter12_i_2240_597)">
        <path d="M223.703 62.8062L196.526 10.6631L221.963 9.77482C227.224 9.59111 232.158 10.2025 236.766 11.6091C241.348 12.966 245.412 15.0236 248.958 17.7819C252.504 20.5403 255.3 23.881 257.344 27.8041C259.363 31.6776 260.075 35.0658 259.479 37.9688C258.884 40.8717 257.085 43.1594 254.081 44.8317C251.052 46.4544 246.907 47.3576 241.646 47.5413L223.765 48.1658L226.975 42.5169L237.302 62.3313L223.703 62.8062ZM227.674 43.8577L218.64 38.3331L235.766 37.735C239.963 37.5884 242.683 36.6844 243.926 35.023C245.168 33.3616 245.052 31.1155 243.577 28.2849C242.076 25.4046 239.876 23.2061 236.977 21.6893C234.078 20.1724 230.53 19.4873 226.332 19.6339L209.207 20.2319L212.261 14.2851L227.674 43.8577Z" fill="white"/>
        </g>
        <g style="mix-blend-mode:overlay" opacity="0.55" filter="url(#filter13_i_2240_597)">
        <path d="M159.039 65.0643L131.863 12.9211L157.299 12.0329C162.56 11.8492 167.494 12.4606 172.103 13.8672C176.685 15.2241 180.749 17.2817 184.295 20.04C187.841 22.7983 190.636 26.139 192.681 30.0622C194.7 33.9357 195.411 37.3239 194.816 40.2268C194.22 43.1298 192.421 45.4174 189.418 47.0898C186.388 48.7125 182.243 49.6157 176.982 49.7994L159.101 50.4238L162.312 44.775L172.639 64.5893L159.039 65.0643ZM163.01 46.1158L153.977 40.5911L171.102 39.9931C175.3 39.8465 178.02 38.9425 179.262 37.2811C180.505 35.6196 180.388 33.3736 178.913 30.543C177.412 27.6627 175.212 25.4641 172.313 23.9473C169.414 22.4305 165.866 21.7454 161.668 21.892L144.543 22.49L147.598 16.5432L163.01 46.1158Z" fill="white"/>
        </g>
        <g style="mix-blend-mode:overlay" opacity="0.55" filter="url(#filter14_i_2240_597)">
        <path d="M83.0447 67.7181L82.0607 14.6603L95.4925 14.1913L148.945 65.4168L134.673 65.9152L89.1898 20.6307L94.5625 20.4431L96.9802 67.2314L83.0447 67.7181ZM90.3173 56.0872L89.1518 46.7989L119.373 45.7435L127.842 54.7768L90.3173 56.0872Z" fill="white"/>
        </g>
        <g style="mix-blend-mode:overlay" opacity="0.55" filter="url(#filter15_i_2240_597)">
        <path d="M53.0107 69.6772C48.3096 69.8413 43.5196 69.4524 38.6409 68.5104C33.7362 67.5187 29.5028 66.1749 25.9407 64.479L25.8214 55.2299C29.1681 56.7311 32.8202 57.9435 36.7776 58.8672C40.7652 59.7392 44.5218 60.1136 48.0477 59.9905C50.7341 59.8967 52.7723 59.598 54.1624 59.0944C55.5825 58.5391 56.4644 57.8257 56.8079 56.9542C57.1514 56.0826 57.0385 55.1005 56.4691 54.008C55.7444 52.6175 54.5594 51.5465 52.914 50.7949C51.2427 49.9937 49.2703 49.38 46.9967 48.9537C44.6973 48.4778 42.1998 48.0594 39.5044 47.6984C36.839 47.2859 34.0939 46.775 31.2691 46.1657C28.5002 45.5545 25.8237 44.7378 23.2395 43.7157C20.6553 42.6935 18.2538 41.311 16.0348 39.5682C13.8718 37.8234 12.0656 35.5606 10.6162 32.7796C9.0633 29.8 8.54818 27.0622 9.07088 24.5664C9.62366 22.0189 11.3436 19.9615 14.2309 18.3943C17.1481 16.7756 21.3771 15.8694 26.9177 15.6759C30.6115 15.5469 34.4563 15.8172 38.4522 16.4867C42.4223 17.1065 46.1796 18.1383 49.7243 19.582L50.3021 28.8908C46.8351 27.5961 43.5622 26.6738 40.4834 26.124C37.3787 25.5245 34.5112 25.2707 31.8808 25.3626C29.2504 25.4544 27.238 25.8028 25.8437 26.4077C24.4495 27.0126 23.6215 27.7747 23.3598 28.694C23.0722 29.5636 23.2261 30.5695 23.8214 31.7117C24.5202 33.0525 25.7052 34.1235 27.3765 34.9248C29.0218 35.6763 30.9813 36.2652 33.2549 36.6915C35.5285 37.1177 37.998 37.5371 40.6633 37.9497C43.3846 38.3603 46.1168 38.8464 48.8598 39.4079C51.6588 39.9675 54.3503 40.7584 56.9345 41.7806C59.5187 42.8027 61.8923 44.1862 64.0553 45.931C66.2742 47.6738 68.0955 49.9108 69.519 52.6421C71.046 55.5721 71.5202 58.286 70.9415 60.7838C70.3629 63.2817 68.6149 65.34 65.6976 66.9588C62.8363 68.5756 58.6073 69.4817 53.0107 69.6772Z" fill="white"/>
        </g>
        <defs>
        <filter id="filter0_i_2240_597" x="429.017" y="0.950195" width="73.9185" height="56.1783" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="-1.2422" dy="2.4844"/>
        <feGaussianBlur stdDeviation="1.49064"/>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_2240_597"/>
        </filter>
        <filter id="filter1_i_2240_597" x="363.287" y="3.87622" width="80.4664" height="55.5476" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="-1.2422" dy="2.4844"/>
        <feGaussianBlur stdDeviation="1.49064"/>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_2240_597"/>
        </filter>
        <filter id="filter2_i_2240_597" x="331.744" y="5.4231" width="42.018" height="55.1023" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="-1.2422" dy="2.4844"/>
        <feGaussianBlur stdDeviation="1.49064"/>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_2240_597"/>
        </filter>
        <filter id="filter3_i_2240_597" x="259.948" y="6.52295" width="82.3134" height="56.5095" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="-1.2422" dy="2.4844"/>
        <feGaussianBlur stdDeviation="1.49064"/>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_2240_597"/>
        </filter>
        <filter id="filter4_i_2240_597" x="195.284" y="9.74292" width="64.3986" height="55.5476" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="-1.2422" dy="2.4844"/>
        <feGaussianBlur stdDeviation="1.49064"/>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_2240_597"/>
        </filter>
        <filter id="filter5_i_2240_597" x="130.621" y="12.001" width="64.3986" height="55.5476" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="-1.2422" dy="2.4844"/>
        <feGaussianBlur stdDeviation="1.49064"/>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_2240_597"/>
        </filter>
        <filter id="filter6_i_2240_597" x="80.8185" y="14.1912" width="68.126" height="56.0113" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="-1.2422" dy="2.4844"/>
        <feGaussianBlur stdDeviation="1.49064"/>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_2240_597"/>
        </filter>
        <filter id="filter7_i_2240_597" x="7.63121" y="15.6448" width="63.5488" height="56.5533" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="-1.2422" dy="2.4844"/>
        <feGaussianBlur stdDeviation="1.49064"/>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_2240_597"/>
        </filter>
        <filter id="filter8_i_2240_597" x="429.017" y="0.950195" width="73.9185" height="56.1783" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="-1.2422" dy="2.4844"/>
        <feGaussianBlur stdDeviation="1.49064"/>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_2240_597"/>
        </filter>
        <filter id="filter9_i_2240_597" x="363.287" y="3.87622" width="80.4664" height="55.5476" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="-1.2422" dy="2.4844"/>
        <feGaussianBlur stdDeviation="1.49064"/>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_2240_597"/>
        </filter>
        <filter id="filter10_i_2240_597" x="331.744" y="5.4231" width="42.018" height="55.1023" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="-1.2422" dy="2.4844"/>
        <feGaussianBlur stdDeviation="1.49064"/>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_2240_597"/>
        </filter>
        <filter id="filter11_i_2240_597" x="259.948" y="6.52295" width="82.3134" height="56.5095" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="-1.2422" dy="2.4844"/>
        <feGaussianBlur stdDeviation="1.49064"/>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_2240_597"/>
        </filter>
        <filter id="filter12_i_2240_597" x="195.284" y="9.74292" width="64.3986" height="55.5476" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="-1.2422" dy="2.4844"/>
        <feGaussianBlur stdDeviation="1.49064"/>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_2240_597"/>
        </filter>
        <filter id="filter13_i_2240_597" x="130.621" y="12.001" width="64.3986" height="55.5476" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="-1.2422" dy="2.4844"/>
        <feGaussianBlur stdDeviation="1.49064"/>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_2240_597"/>
        </filter>
        <filter id="filter14_i_2240_597" x="80.8185" y="14.1912" width="68.126" height="56.0113" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="-1.2422" dy="2.4844"/>
        <feGaussianBlur stdDeviation="1.49064"/>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_2240_597"/>
        </filter>
        <filter id="filter15_i_2240_597" x="7.63121" y="15.6448" width="63.5488" height="56.5533" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="-1.2422" dy="2.4844"/>
        <feGaussianBlur stdDeviation="1.49064"/>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_2240_597"/>
        </filter>
        </defs>
      </svg>  
      <img class="product__title-fone" src="./assets/image/product/sapphire-header.webp" alt="Фоновое изображение серии продукта Universe торговой марки West"> 
    </div>
  </div>
  <span class="product__shadow"></span>
  <div class="container product__container">
    <div class="product__card-area">
      <div class="product__card-cont w-1/2 flex justify-center">
        <div class="card card--right relative" data-aos="fade-right">
          <img class="card__flame" src="./assets/image/product/flame-red.webp" alt="Изображение свечения товара линейки Universe торговой марки West">
          <img class="card__img" src="./assets/image/product/sapphire-red.webp" alt="Изображение продукта universe red">
          <div class="card__wrapper relative">
            <div class="card__content">
              <h3>
                Sapphire RED
              </h3>
              <ul>
                <li>
                  Формат: <b>SSL</b>
                </li>
                <li>
                  Смола: <b>7</b>
                </li>
                <li>
                  Никотин: <b>0,5</b>
                </li>
              </ul>
            </div>
            <img class="card__content-img" src="./assets/image/product/sapphire.webp" alt="Фоновое изображение продукта universe red">
          </div>
        </div>
      </div>

      <div class="product__card-cont w-1/2 flex justify-center">
        <div class="card card--right relative" data-aos="fade-left">
          <img class="card__flame" src="./assets/image/product/flame-aqua.webp" alt="Изображение свечения товара линейки Universe торговой марки West">
          <img class="card__img" src="./assets/image/product/new/sapphire-blue.webp" alt="Изображение продукта universe red">
          <div class="card__wrapper relative">
            <div class="card__content">
              <h3>
                sapphire blue
              </h3>
              <ul>
                <li>
                  Формат: <b>SSL</b>
                </li>
                <li>
                  Смола: <b>5</b>
                </li>
                <li>
                  Никотин: <b>0,5</b>
                </li>
              </ul>
            </div>
            <img class="card__content-img" src="./assets/image/product/sapphire-aqua.webp" alt="Фоновое изображение продукта universe red">
          </div>
        </div>
      </div>

    </div>
  </div>
  <img class="product__cristal product__cristal--sapphire" src="./assets/image/product/fone/cristal-blue.webp" alt="Фоновое изображении секции с продукцией торговой марки West">
  <img class="product__cristal product__cristal--two" src="./assets/image/product/fone/red-medium-sapphire.webp" alt="Фоновое изображении секции с продукцией торговой марки West">
  <img class="product__cristal product__cristal--three" src="./assets/image/product/fone/cristal-blue-sapphire.webp" alt="Фоновое изображении секции с продукцией торговой марки West">
  <img class="product__cristal product__cristal--sapphire-red" src="./assets/image/product/fone/cristal-red-extra-small.webp" alt="Фоновое изображении секции с продукцией торговой марки West">
  <img class="product__cristal product__cristal--five" src="./assets/image/product/fone/cristal-red-top-right.webp" alt="Фоновое изображении секции с продукцией торговой марки West">
  <img class="product__background" src="./assets/image/content/product-fone-two.webp" alt="Фоновое изображении секции с продукцией торговой марки West">
</section>
<section class="product product--third relative">
  <div class="product__header relative">
    <img class="product__img" src="./assets/image/decoration/turbo-header.webp" alt="Фоновое изображение серии продукта Universe торговой марки West">
    <div class="product__header-wrapper relative">
      <svg class="product__title-svg"  width="368" height="71" viewBox="0 0 368 71" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0_i_2244_765)">
        <path d="M329.222 58.513C323.01 58.7891 317.122 58.0439 311.56 56.2774C306.029 54.4566 301.124 51.8396 296.844 48.4264C292.536 44.9614 289.139 40.8995 286.655 36.2407C284.17 31.5818 282.787 27.245 282.506 23.2301C282.197 19.1635 282.94 15.6065 284.734 12.5592C286.56 9.45757 289.346 6.97561 293.093 5.11336C296.898 3.2485 301.643 2.18973 307.328 1.93706C313.541 1.66095 319.412 2.43332 324.943 4.25418C330.505 6.02066 335.44 8.63639 339.748 12.1014C344.029 15.5146 347.411 19.5506 349.896 24.2094C352.38 28.8682 353.777 33.2309 354.086 37.2976C354.368 41.3125 353.595 44.8707 351.77 47.9724C349.975 51.0197 347.175 53.4758 343.37 55.3406C339.623 57.2029 334.907 58.2603 329.222 58.513ZM324.738 47.743C328.196 47.5893 331.013 46.9077 333.187 45.6983C335.393 44.4344 336.939 42.776 337.824 40.7229C338.709 38.6699 338.973 36.353 338.616 33.7723C338.291 31.1372 337.369 28.3961 335.851 25.549C334.415 22.8572 332.514 20.5306 330.148 18.5691C327.754 16.5558 324.994 15.0358 321.866 14.0089C318.797 12.9795 315.446 12.5456 311.812 12.7071C308.354 12.8607 305.552 13.5682 303.404 14.8295C301.23 16.0389 299.67 17.6715 298.727 19.7271C297.842 21.7801 297.562 24.1242 297.887 26.7593C298.244 29.3401 299.181 32.054 300.7 34.9011C302.135 37.5928 304.05 39.9453 306.444 41.9586C308.868 43.9175 311.615 45.4117 314.684 46.4411C317.812 47.4679 321.163 47.9019 324.738 47.743Z" fill="#2263A9"/>
        </g>
        <g filter="url(#filter1_i_2244_765)">
        <path d="M225.594 62.1645L208.914 7.26451L238.628 5.94386C245.31 5.6469 250.975 6.48146 255.623 8.44752C260.33 10.411 263.76 13.4115 265.914 17.4492C267.736 20.8657 268.243 23.7842 267.434 26.2048C266.683 28.6227 264.955 30.5013 262.249 31.8403C259.544 33.1794 256.228 33.9362 252.301 34.1107L252.93 30.9032C258.088 30.674 262.756 31.5528 266.936 33.5397C271.146 35.4723 274.301 38.4056 276.399 42.3397C278.442 46.1703 278.952 49.4331 277.929 52.1282C276.938 54.7688 274.693 56.8028 271.194 58.2301C267.696 59.6574 263.25 60.4909 257.858 60.7305L225.594 62.1645ZM236.894 51.9648L253.685 51.2185C257.612 51.044 260.344 50.2602 261.881 48.8671C263.449 47.4196 263.542 45.4017 262.162 42.8135C261.085 40.7947 259.476 39.4089 257.335 38.6562C255.225 37.8492 252.763 37.5081 249.95 37.6332L231.136 38.4693L228.359 29.2132L244.36 28.5021C246.821 28.3927 248.779 28.0142 250.234 27.3666C251.747 26.7165 252.669 25.8011 252.999 24.6206C253.302 23.3884 253.012 21.944 252.128 20.2875C251.162 18.4758 249.68 17.2168 247.684 16.5107C245.66 15.7528 243.212 15.4376 240.34 15.5653L225.922 16.2061L236.894 51.9648Z" fill="#2263A9"/>
        </g>
        <g filter="url(#filter2_i_2244_765)">
        <path d="M156.951 65.2153L140.27 10.3153L165.326 9.20172C173.004 8.86049 179.71 10.0727 185.445 12.8383C191.238 15.6014 195.557 19.6488 198.4 24.9805C200.83 29.5358 201.711 33.5505 201.044 37.0247C200.408 40.4444 198.317 43.1604 194.77 45.1728C191.282 47.1825 186.49 48.3228 180.395 48.5937L160.351 49.4846L164.883 43.6395L171.281 64.5784L156.951 65.2153ZM196.512 63.457L173.422 44.2934L188.367 43.6291L211.545 62.7888L196.512 63.457ZM165.318 45.1304L157.207 39.3704L175.58 38.5538C180.328 38.3428 183.494 37.2482 185.079 35.2701C186.695 33.2376 186.536 30.4096 184.604 26.786C183.196 24.146 181.135 22.2504 178.421 21.0993C175.738 19.8937 172.58 19.3717 168.946 19.5332L151.627 20.3029L155.828 13.8367L165.318 45.1304Z" fill="#2263A9"/>
        </g>
        <g filter="url(#filter3_i_2244_765)">
        <path d="M113.18 68.1151C107.202 68.3808 101.668 67.5669 96.5782 65.6735C91.4885 63.78 87.1431 61.0321 83.5419 57.4297C79.9717 53.773 77.4044 49.4093 75.84 44.3386L66.4638 13.5962L80.7936 12.9593L90.0456 43.4688C90.8157 45.9252 91.8011 48.0541 93.0018 49.8554C94.2025 51.6567 95.5892 53.1319 97.1619 54.2808C98.7933 55.4271 100.611 56.2472 102.614 56.7411C104.617 57.2349 106.762 57.4311 109.048 57.3295C111.919 57.2018 114.148 56.5994 115.733 55.5221C117.319 54.4448 118.249 52.8137 118.523 50.6288C118.798 48.4439 118.419 45.6522 117.387 42.2536L108.135 11.7442L122.113 11.1229L131.691 42.4128C134.153 50.517 133.838 56.7311 130.744 61.055C127.65 65.3788 121.795 67.7322 113.18 68.1151Z" fill="#2263A9"/>
        </g>
        <g filter="url(#filter4_i_2244_765)">
        <path d="M39.1085 70.4524L25.5208 25.9074L5.82823 26.7826L2.73553 16.4277L56.3626 14.0443L59.4553 24.3992L39.8507 25.2705L53.3504 69.8195L39.1085 70.4524Z" fill="#2263A9"/>
        </g>
        <defs>
        <filter id="filter0_i_2244_765" x="281.195" y="1.88281" width="72.9473" height="59.1709" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="-1.2422" dy="2.4844"/>
        <feGaussianBlur stdDeviation="1.49064"/>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0"/>
        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_2244_765"/>
        </filter>
        <filter id="filter1_i_2244_765" x="207.671" y="5.88574" width="70.7697" height="58.7627" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="-1.2422" dy="2.4844"/>
        <feGaussianBlur stdDeviation="1.49064"/>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0"/>
        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_2244_765"/>
        </filter>
        <filter id="filter2_i_2244_765" x="139.028" y="9.14551" width="72.5167" height="58.5537" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="-1.2422" dy="2.4844"/>
        <feGaussianBlur stdDeviation="1.49064"/>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0"/>
        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_2244_765"/>
        </filter>
        <filter id="filter3_i_2244_765" x="65.2216" y="11.123" width="68.1063" height="59.5254" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="-1.2422" dy="2.4844"/>
        <feGaussianBlur stdDeviation="1.49064"/>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0"/>
        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_2244_765"/>
        </filter>
        <filter id="filter4_i_2244_765" x="1.49333" y="14.0439" width="57.962" height="58.8926" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="-1.2422" dy="2.4844"/>
        <feGaussianBlur stdDeviation="1.49064"/>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0"/>
        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_2244_765"/>
        </filter>
        </defs>
      </svg>     
    </div>
  </div>
  <span class="product__shadow"></span>
  <div class="container product__container">
    <div class="product__card-area">
      <div class="product__card-cont w-1/2 flex justify-center">
        <div class="card relative" data-aos="fade-left">
          <picture>
            <source media="(max-width: 767px)" srcset="./assets/image/product/turbo-red-mob.webp">
            <img class="card__img" src="./assets/image/product/turbo-red.webp" alt="Изображение продукта universe red">
          </picture>
          <img class="card__flame" src="./assets/image/product/new/flare-red-1.webp" alt="Изображение свечения товара линейки Universe торговой марки West">
          <div class="card__wrapper relative">
            <div class="card__content">
              <h3>
                turbo RED
              </h3>
              <ul>
                <li>
                  Формат: <b>KS</b>
                </li>
                <li>
                  Смола: <b>8</b>
                </li>
                <li>
                  Никотин: <b>0,6</b>
                </li>
              </ul>
            </div>
            <img class="card__content-img" src="./assets/image/product/circle-red.webp" alt="Фоновое изображение продукта universe red">
          </div>
        </div>
      </div>

      <div class="product__card-cont w-1/2 flex justify-center min-[992px]:justify-end">
        <div class="card card--right relative" data-aos="fade-right">
          <img class="card__flame" src="./assets/image/product/flame-aqua.webp" alt="Изображение свечения товара линейки Universe торговой марки West">
          <picture>
            <source media="(max-width: 767px)" srcset="./assets/image/product/turbo-blue-mob.webp">
            <img class="card__img" src="./assets/image/product/turbo-blue.webp" alt="Изображение продукта universe red">
          </picture>
          <div class="card__wrapper relative">
            <div class="card__content">
              <h3>
                turbo blue
              </h3>
              <ul>
                <li>
                  Формат: <b>KS</b>
                </li>
                <li>
                  Смола: <b>5</b>
                </li>
                <li>
                  Никотин: <b>0,5</b>
                </li>
              </ul>
            </div>
            <img class="card__content-img" src="./assets/image/product/circle-blue.webp" alt="Фоновое изображение продукта universe red">
          </div>
        </div>
      </div>

    </div>
  </div>
  <img class="product__part" src="./assets/image/product/fone/part-blue.webp" alt="Фоновое изображении секции с продукцией торговой марки West"">
  <img class="product__part product__part--first" src="./assets/image/product/fone/part-blue-small.webp" alt="Фоновое изображении секции с продукцией торговой марки West"">
  <img class="product__part product__part--two" src="./assets/image/product/fone/part-red.webp" alt="Фоновое изображении секции с продукцией торговой марки West"">
  <img class="product__part product__part--three" src="./assets/image/product/fone/part-red-small.webp" alt="Фоновое изображении секции с продукцией торговой марки West"">
  <img class="product__part product__part--four" src="./assets/image/product/fone/part-red-big.webp" alt="Фоновое изображении секции с продукцией торговой марки West"">

  <img class="product__circle" src="./assets/image/product/fone/circle-red-big.webp" alt="Фоновое изображении секции с продукцией торговой марки West">
  <img class="product__circle product__circle--first" src="./assets/image/product/fone/circle-red-medium.webp" alt="Фоновое изображении секции с продукцией торговой марки West">
  <img class="product__circle product__circle--two" src="./assets/image/product/fone/circle-blue.webp" alt="Фоновое изображении секции с продукцией торговой марки West">

  <img class="product__background" src="./assets/image/content/product-fone-three.webp" alt="Фоновое изображении секции с продукцией торговой марки West">
</section>
<section class="product product--four relative">
  <div class="product__header relative">
    <div class="product__header-line">
      <img class="product__line-img" src="./assets/image/product/compact-wave.webp" alt="Фоновое изображение серии продукта Universe торговой марки West">
    </div>
    <div class="product__header-wrapper relative">      
      <img  class="product__title-img" src="./assets/image/product/compact-header.webp" alt="Изображение заголовка продуктого ряда Компакт торговой марки Вест">
    </div>
  </div>
  <div class="container product__container">
    <div class="product__card-area">
      <div class="product__card-cont w-full min-[992px]:w-1/2 flex justify-center min-[992px]:justify-end mt-24">
        <div class="card card--right relative" data-aos="fade-up">
          <img class="card__img" src="./assets/image/product/compact-blue.webp" alt="Изображение продукта universe red">
          <div class="card__wrapper relative">
            <div class="card__content">
              <h3>
                Blue up
              </h3>
              <ul>
                <li>
                  Формат: <b>QS</b>
                </li>
                <li>
                  Смола: <b>6</b>
                </li>
                <li>
                  Никотин: <b>0,5</b>
                </li>
              </ul>
            </div>
            <img class="card__content-img" src="./assets/image/product/rectangle-blue-1.webp" alt="Фоновое изображение продукта universe red">
          </div>
        </div>
      </div>
      <div class="product__card-cont w-full min-[992px]:w-1/2 flex justify-center min-[992px]:justify-start">
        <div class="card card--right relative" data-aos="fade-left">
          <img class="card__img" src="./assets/image/product/compact-gray.webp" alt="Изображение продукта universe red">
          <div class="card__wrapper relative">
            <div class="card__content">
              <h3>
                silver up
              </h3>
              <ul>
                <li>
                  Формат: <b>QS</b>
                </li>
                <li>
                  Смола: <b>4</b>
                </li>
                <li>
                  Никотин: <b>0,4</b>
                </li>
              </ul>
            </div>
            <img class="card__content-img" src="./assets/image/product/rectangle-gray.webp" alt="Фоновое изображение продукта universe red">
          </div>
        </div>
      </div>

      <div class="product__card-cont w-full min-[992px]:w-1/2 flex justify-center min-[992px]:justify-end">
        <div class="card relative" data-aos="fade-right">
          <img class="card__img" src="./assets/image/product/compact-purple.webp" alt="Изображение продукта universe red">
          <div class="card__wrapper relative">
            <div class="card__content">
              <h3>
                purple up
              </h3>
              <ul>
                <li>
                  Формат: <b>QS</b>
                </li>
                <li>
                  Смола: <b>6</b>
                </li>
                <li>
                  Никотин: <b>0,5</b>
                </li>
                <li>
                  Капсула: <b>ягодная</b>
                </li>
              </ul>
            </div>
            <img class="card__content-img" src="./assets/image/product/rectangle-purple.webp" alt="Фоновое изображение продукта universe red">
          </div>
        </div>
      </div>
      <div class="product__card-cont w-full min-[992px]:w-1/2 flex justify-center min-[992px]:justify-start">
        <div class="card relative" data-aos="fade-left">
          <img class="card__img" src="./assets/image/product/compact-red.webp" alt="Изображение продукта universe red">
          <div class="card__wrapper relative">
            <div class="card__content">
              <h3>
                red up
              </h3>
              <ul>
                <li>
                  Формат: <b>QS</b>
                </li>
                <li>
                  Смола: <b>6</b>
                </li>
                <li>
                  Никотин: <b>0,5</b>
                </li>
                <li>
                  Капсула: <b>арбузная</b>
                </li>
              </ul>
            </div>
            <img class="card__content-img" src="./assets/image/product/rectangle-red.webp" alt="Фоновое изображение продукта universe red">
          </div>
        </div>
      </div>
    </div>
    <div class="finish">
      <img class="finish__img" src="./assets/image/decoration/finish-2.webp" alt="">
    </div>
  </div>
  <img class="product__rectangle" src="./assets/image/product/fone/rectangle-gray.webp" alt="Фоновое изображении секции с продукцией торговой марки West">
  <img class="product__rectangle product__rectangle--one" src="./assets/image/product/fone/rectangle-blue-extra-small.webp" alt="Фоновое изображении секции с продукцией торговой марки West">
  <img class="product__rectangle product__rectangle--two" src="./assets/image/product/fone/extra-small-blue-rectangle.webp" alt="Фоновое изображении секции с продукцией торговой марки West">
  <img class="product__rectangle product__rectangle--three" src="./assets/image/product/fone/rectangle-red-small.webp" alt="Фоновое изображении секции с продукцией торговой марки West">
  <img class="product__rectangle product__rectangle--four" src="./assets/image/product/fone/rectangle-blue-west.webp" alt="Фоновое изображении секции с продукцией торговой марки West">
  <img class="product__rectangle product__rectangle--five" src="./assets/image/product/fone/rectangle-blue-big.webp" alt="Фоновое изображении секции с продукцией торговой марки West">
  <img class="product__rectangle product__rectangle--six" src="./assets/image/product/fone/rectangle-blue-medium.webp" alt="Фоновое изображении секции с продукцией торговой марки West">
  <img class="product__rectangle product__rectangle--seven" src="./assets/image/product/fone/rectangle-red-big.webp" alt="Фоновое изображении секции с продукцией торговой марки West">
  <img class="product__rectangle product__rectangle--eight" src="./assets/image/product/fone/ectangle-blue-eight.webp" alt="Фоновое изображении секции с продукцией торговой марки West">


  <img class="product__background" src="./assets/image/content/compact-fone.webp" alt="Фоновое изображении секции с продукцией торговой марки West">
</section>
