<footer class="footer relative">
  <div class="container flex flex-col">
    <a href="#" class="logo">
      <img src="./assets/image/logo.svg" alt="Логотип торговой марки Манчестер">
    </a>
    <div class="footer__content mt-8">
      <ul class="contact-list">
        <li>
          <a href="https://t.me/WestRu_official_bot">
            <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M16.4974 2.66797C9.1374 2.66797 3.16406 8.6413 3.16406 16.0013C3.16406 23.3613 9.1374 29.3346 16.4974 29.3346C23.8574 29.3346 29.8307 23.3613 29.8307 16.0013C29.8307 8.6413 23.8574 2.66797 16.4974 2.66797ZM22.6841 11.7346C22.4841 13.8413 21.6174 18.9613 21.1774 21.3213C20.9907 22.3213 20.6174 22.6546 20.2707 22.6946C19.4974 22.7613 18.9107 22.188 18.1641 21.6946C16.9907 20.9213 16.3241 20.4413 15.1907 19.6946C13.8707 18.828 14.7241 18.348 15.4841 17.5746C15.6841 17.3746 19.0974 14.268 19.1641 13.988C19.1733 13.9456 19.1721 13.9015 19.1605 13.8597C19.1489 13.8179 19.1272 13.7795 19.0974 13.748C19.0174 13.6813 18.9107 13.708 18.8174 13.7213C18.6974 13.748 16.8307 14.988 13.1907 17.4413C12.6574 17.8013 12.1774 17.988 11.7507 17.9746C11.2707 17.9613 10.3641 17.708 9.68406 17.4813C8.84406 17.2146 8.19073 17.068 8.24406 16.6013C8.27073 16.3613 8.60406 16.1213 9.23073 15.868C13.1241 14.1746 15.7107 13.0546 17.0041 12.5213C20.7107 10.9746 21.4707 10.708 21.9774 10.708C22.0841 10.708 22.3374 10.7346 22.4974 10.868C22.6307 10.9746 22.6707 11.1213 22.6841 11.228C22.6707 11.308 22.6974 11.548 22.6841 11.7346Z" fill="#BFBFBF"/>
              </svg>              
            @WestRu_official_bot
          </a>
          <span>
            Начни свою ULTRA гонку!
          </span>
        </li>
        <li>
          <a class="small-link" href="#">
            <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="16.5" cy="16" r="13" fill="#BFBFBF"/>
              <path d="M11.1663 21.3346C10.7997 21.3346 10.4859 21.2042 10.225 20.9433C9.96412 20.6824 9.83345 20.3684 9.83301 20.0013V12.0013C9.83301 11.6346 9.96367 11.3209 10.225 11.06C10.4863 10.7991 10.8001 10.6684 11.1663 10.668H21.833C22.1997 10.668 22.5137 10.7986 22.775 11.06C23.0363 11.3213 23.1668 11.6351 23.1663 12.0013V20.0013C23.1663 20.368 23.0359 20.682 22.775 20.9433C22.5141 21.2046 22.2001 21.3351 21.833 21.3346H11.1663ZM16.4997 16.668L21.833 13.3346V12.0013L16.4997 15.3346L11.1663 12.0013V13.3346L16.4997 16.668Z" fill="white"/>
              </svg>                                      
            brand@i-tob.ru
          </a>
          <span>
            Вы можете поделиться с нами предложениями и пожеланиями, написав нам на почту
          </span>
        </li>
      </ul>
      <ul class="footer__menu">
        <li>
          <a class="primary-link" href="#">
            Правила использования сайта
          </a>
        </li>
        <li>
          <a class="primary-link" href="#">
            Политика в отношении обработки персональных данных
          </a>
        </li>
        <li>
          <a class="primary-link" href="#">
            Положение о конфиденциальности
          </a>
        </li>
        <li>
          <a class="primary-link" href="#">
            Риски, связанные со здоровьем
          </a>
        </li>
        <li>
          <a class="primary-link" href="#">
            Вопросы и ответы
          </a>
        </li>
      </ul>
      <div class="copyright">
        <span>
          Сделано в 
          <a href="https://deluxe-interactive.com/" class="primary-link">
            Deluxe Interactive
          </a>
          <br>
          © 2024 «Manchester»
        </span>
      </div>
    </div>
  </div>
</footer>
