<header class="header">
  <div class="container flex justify-center">
    <a href="#" class="logo">
      <img src="./assets/image/logo.svg" alt="Логотип торговой марки West">
    </a>
  </div>
</header>
